.btn {
  border-radius: 2px;
  &-primary {
    &:hover {
      background-color: $color-secondary;
      border-color: $color-secondary;
    }
  }
  &-secondary {
    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}