// COLORS
$color-primary: #de300a;
$color-primary-light: #e9f4d4;
$color-primary-dark: #496315;

$color-secondary: #323c58;
$color-secondary-light: #7c8087;
$color-secondary-dark: #1d293f;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey: #808080;
$color-grey-light: #ededed;
$color-grey-dark: #4d4d4d;

$primary: $color-primary !default;
$secondary: $color-secondary !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

$color-white: #fff;
$color-black: #000;
